body {
  font-family: 'Acumin Pro';
  background: linear-gradient(-60deg, #fae5b6, #efb3fc, #c6f5eb);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  color: black;
  padding: 50px;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.name{ 
  font-size: 40px;
}

.subtitle {
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.projcont {
  padding-top: 50px;
  padding-left: 30px;
}

.proj {
  font-size: 24px;
}

a:link {
  color: black;
}

a:hover {
  background-color: white;
}